{% extends "base.html" %}
{% load static %}

{% block title %}Consultar Saldo{% endblock title %}
{% block content %}
<div class="container">
    <div class="left-square" style="display: flex; justify-content: space-between; align-items: center; padding: 20px;">
        
        <div>
            <h2 style="color: black; font-size: 2.5rem">Su saldo disponible es:</h2>
            <div class="container">
                <div style="text-align: center; margin-top: 20px;">
                    <p style="font-size: 55px; font-weight: bold; color: #4CAF50;">
                        <span style="font-size: 70px; color: #FF5722;">{{ saldo }}</span> USD
                    </p>
                </div>
            </div>
            <div style="text-align: center; margin-top: 50px;">
                <button 
                    onclick="history.back()" 
                    style="background-color: #007BFF; color: white; padding: 20px 50px; border: none; border-radius: 5px; font-size: 20px; cursor: pointer;">
                    Regresar
                </button>
            </div>
        </div>
    
        <div style="display: flex; flex-direction: column; align-items: flex-end;">
            <i class="bi bi-arrow-right-square-fill" style="font-size: 3rem; margin-bottom: 15px; color: red;"></i>
            <br>
            <i class="bi bi-arrow-right-square-fill" style="font-size: 3rem; margin-bottom: 15px; color: red;"></i>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <i class="bi bi-arrow-right-square-fill" style="font-size: 3rem; margin-bottom: 15px; color: red;"></i>
        </div>
    </div>
    
</div>
{% endblock content %}
