{% extends "base.html" %}
{% load static %}

{% block title %}Página inicial{% endblock title %}
{% block content %}
<div class="container">
    <!-- Bloque izquierdo -->
    <div class="left-square" style="display: flex; justify-content: space-between; align-items: center; padding: 20px;">
        <!-- Contenedor para el texto -->
        <div>
            <h2 style="color: black; font-size: 2.5rem">Bienvenido al Mutualista Pichincha</h2>
            <br>
            <div style="display: flex; justify-content: flex-start; align-items: center; padding: 20px;">
                <!-- Ícono a la izquierda -->
                <i class="bi bi-credit-card-2-back-fill" style="font-size: 10rem; color: red;"></i>
                
                <!-- Ícono a la derecha con margen para acercarlo -->
                <i class="bi bi-credit-card-2-front" style="font-size: 10rem; color: red; margin-left: 55px;"></i>
            </div>
            
            
            <p style="color: black; font-size: 2rem; line-height: 2.5;">
                Por favor, Seleccione una de las opciones para realizar su tramite
            </p>
        </div>
    
        <div style="display: flex; flex-direction: column; align-items: flex-end;">
            <i class="bi bi-arrow-right-square-fill" style="font-size: 3rem; margin-bottom: 15px; color: red;"></i>
            <br>
            <i class="bi bi-arrow-right-square-fill" style="font-size: 3rem; margin-bottom: 15px; color: red;"></i>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <i class="bi bi-arrow-right-square-fill" style="font-size: 3rem; margin-bottom: 15px; color: red;"></i>
        </div>
    </div>
    
</div>
{% endblock content %}



